@charset "utf-8";
/* CSS Document */

*, ::before, ::after {
  box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #207BBC;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

img, embed, object, video {
  max-width: 100%;
}

main {
  background-color: #f3f3f3;
  min-height: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  position:relative;
  top: 0;
}
footer {
  background-color: #000;
  color: #ccc;
  font-size: 0.75rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  min-width: 300px;
}

label {
  color: #fff;
  font-size: 0.75rem;
  text-align: left;
  flex: 1 1 100%;
  padding-left: 10px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
}

figure {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0;
  justify-content: center;
}

/* ====================== Navigation ====================== */
.skip-button {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #B35F00;
  color: #fff;
  padding: 0.25rem;
  z-index: 100;
}

.skip-button:focus {
  top: 0;
  color: #fff;
  background-color: #207BBC;
  text-decoration: underline;
}

nav {
  width: 100%;
  min-width: 300px;
  background-color: #000;
  text-align:center;
  display: flex;
  flex-wrap: wrap;
}
nav h1 {
  margin: 0 auto;
  padding: 1rem;
  color: #B35F00;
}
nav h1 a {
  color: #ccc;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

nav h1 a:hover {
  color: #207BBC;
}

#breadcrumb {
    list-style: none;
    background-color: #eee;
    margin: 0 auto;
    padding: 0.75rem 0;
    width: 100%;
    height: 3rem;
    text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0 0.25rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    text-transform: uppercase;
    font-weight: bold;
}

/* ====================== Map ====================== */
#map {
  height: 300px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #444;
  justify-content: center;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.filter-options h2 {
  color: white;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
  margin: 0.25rem 0 1rem 0 ;
  flex: 0 1 100%;
  text-align: center;
}
.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  text-align-last: center;
  height: 2.5rem;
  letter-spacing: 0;
  margin: 0.75rem;
  flex: 1 1 200px;
  min-width: 200px;
}

.filter-options h2:focus,
.filter-options div:focus,
.filter-options select:focus {
  outline: 0;
  box-shadow: 0 0 1px 3px rgb(32,123,188);
  border-radius: 2px;
}

p#filter-description,
p#breadcrumb-description {
  display: none;
}

.select-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 1rem 2rem;
  padding: 0 1rem 1rem;
  text-align: left;
  min-width: 300px;
  max-width: 500px;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: #B35F00;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 5% 0 2.5%;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}

.restaurant-empty {
  flex-grow: 1;
}

#restaurants-list li a {
  background-color: #B35F00;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  vertical-align: bottom;
  font-size: 1rem;
  margin: 5% 0 0 0;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-start;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus{
  background-color: #207BBC;
  text-decoration: underline;
}


/* ====================== Restaurant Details ====================== */
/*.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 4.5rem;
}*/

.inside header {
  height: 0;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  width: 100%;
  min-width: 300px;
  margin-top: 7rem;
}
.inside #map {
  background-color: #ccc;
  height: 50vh;
}
.inside footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  min-width: 300px;
  z-index: 1000;
  margin: 0 auto;
}
#restaurant-name {
  color: #B35F00;
  font-family: Arial,sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 0;
  margin: 1rem 0;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  flex: 0 1 100%;
}
#restaurant-img {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.8rem;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  height: 3rem;
}

#restaurant-address {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1.5rem;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#reviews-container h2 {
  color: #B35F00;
  font-family: Arial,sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  flex: 0 1 100%;
}
#reviews-list {
  margin-bottom: 2rem;
  padding: 0;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  text-align: left;
  font-family: Arial,sans-serif;
  list-style-type: none;
  margin: 0 1rem 2rem 1rem;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}

#reviews-list li p {
  margin: 0 0 0.8rem;
  font-size: 0.9rem;
}

#restaurant-hours table {
  align: center;
  margin-left: auto;
  margin-right: auto;
}
#restaurant-hours td {
  color: #666;
  font-size: 1rem;
  text-align: left;
}



/* ====================== Media Queries ====================== */

@media screen and (max-width: 361px) {
  nav h1 a {
    font-size: 0.75rem !important;
  }
}

@media screen and (max-width: 462px) {
  nav h1 a {
    font-size: 1rem;
  }

  #restaurants-list li h3 {
    font-size: 1.25rem;
  }

  #restaurants-list p {
    font-size: 0.9rem;
  }

  #restaurants-list li a {
    padding: 3% 10%;
    font-size: 0.8rem;
  }

  #restaurants-list .restaurant-img {
    min-height: 124px;
  }

  .inside #map-container {
    margin-top: 6.75rem;
  }

  #restaurant-address {
    font-size: 1rem;
  }

  #restaurant-hours td,
  #reviews-list li p {
    font-size: 0.8rem;
  }

  #restaurant-name,
  #reviews-container h2 {
    font-size: 1.5rem;
  }

  #restaurant-cuisine {
    font-size: 1rem;
    height: 2rem;
    padding: 0.25rem 0;
  }
}

@media screen and (min-width: 650px) {

  #restaurants-list li h3 {
    font-size: 1.8rem;
  }

  #restaurants-list p {
    font-size: 1.3rem;
  }

  #restaurants-list li a {
    font-size: 1.3rem;
  }

  #map, 
  .inside #map {
    height: 400px;
  }

  .filter-options h2 {
    font-size: 1.75rem;
  }

  .filter-options select {
    font-size: 1.25rem;
    height: 45px;
  }

  nav h1 a {
    font-size: 2rem;
  }

  footer {
    font-size: 1rem;
  }

  .inside #map-container {
    margin-top: 8rem;
  }

  #breadcrumb {
    padding: 0.5rem 0 0 0;
  }

  #breadcrumb li {
    font-size: 1.25rem;

  }

  #restaurant-address {
    font-size: 1.5rem;
  }

  #restaurant-hours td,
  #reviews-list li p {
    font-size: 1.25rem;
  }

  #restaurant-name,
  #reviews-container h2 {
    font-size: 2rem;
  }

  #restaurant-cuisine {
    font-size: 1.5rem;
    height: 3rem;
  }

}

@media screen and (min-width: 727px) {
  #reviews-list li {
    min-width: 500px;
    max-width: 500px;
  }

}

@media screen and (min-width: 791px) {
  #restaurants-list li {
    margin: 1rem 0.5rem;
  }

  #restaurants-list li h3 {
    font-size: 1.5rem;
  }

  #restaurants-list p {
    font-size: 1rem;
  }

  #restaurants-list li a {
    font-size: 1.1rem;
  }

}

@media screen and (min-width: 875px) {

  #restaurants-list li h3 {
    font-size: 1.75rem;
  }

  #restaurants-list p {
    font-size: 1.25rem;
  }

  #restaurants-list li a {
    font-size: 1.3rem;
  }

}

@media screen and (min-width: 1011px) {

  #restaurants-list li {
  min-width: 350px;
  max-width: 500px;
  }

}

@media screen and (min-width: 1161px) {

  #restaurants-list li {
    min-width: 350px;
    max-width: 350px;
  }

  #restaurants-list .restaurant-img {
    min-height: 124px;
  }

  #restaurants-list::after {
    content: "";
    flex: 1 1 700px;
    max-width: 700px;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1127px) {
  #reviews-list::after {
    content: "";
    flex: 1 1 500px;
    max-width: 500px;
    margin-right: 2rem;
  }

}

@media screen and (min-width: 1200px) {
  main,
  .inside,
  .inside header {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}

